# Terraform files
.terraform
.terraform.lock.hcl
.terraform.tfstate.lock.info
terraform.tfstate
terraform.tfstate.backup
terraform.tfstate.*.backup

# Local certificates
k8s-local-cert.pem
k8s-local-key.pem